@import url('https://fonts.googleapis.com/css2?family=Jost&family=Manrope&family=Raleway:wght@300&display=swap');

ul {
    width: 80%;

}

.tab-content {
    width: 80%;
    margin: 0 auto;
}

.Bakery {
    background-color: green;
}

li {
    color: white !important;
}